body {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 204, 225); /* Fondo rosa pastel */
    text-align: center;
}

img {
    border-radius: 10px; /* Bordes redondos para las imágenes */
    max-width: 100%; /* Hacer que las imágenes sean responsivas */
}

header, nav, section, footer  {
    background-color: rgba(255, 204, 225);
    padding: 20px;
    border-bottom: 1px solid #ccc;
    margin: 20px auto; /* Centrar los elementos en la página */
    padding: 20px;
    background-color: rgb(255, 204, 225); /* Fondo completamente transparente */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Limitar el ancho de los elementos para mejorar la legibilidad */
    text-align: center; /* Centro el texto dentro de los elementos */
}


header h1 {
    color: #e44d26;
}

nav {
    background-color: rgb(255, 118, 175);
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section#informacion {
    margin-top: 50px;
    text-align: center;
    padding: 20px;


}

.whatsapp-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25d366; /* Color verde de WhatsApp */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.whatsapp-button:hover {
    background-color: #128C7E; /* Cambio de color al pasar el ratón sobre el botón */
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #666;
    padding: 20px;
    background-color: rgba(255, 204, 225);
}
